@import url(http://fonts.googleapis.com/css?family=Oswald);

body {
  font-family: 'Oswald', sans-serif;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.recent-games {
  width: 30%;
  max-width: 400px;
}
.recent-games table {
  width: 100%;
}
