@import url(http://fonts.googleapis.com/css?family=Oswald);

body {
  font-family: sans-serif;
}

h1,h2,h3,h4,h5 {
  font-family: 'Oswald', sans-serif;
}

h1 {
  font-size: 3em;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.panel {
  width: 30%;
  max-width: 400px;
  margin: 50px 50px 50px 50px;
}
.panel table {
  width: 100%;
}
